<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Title</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/fonts.css">
    </head>
    <body>
            <header>
                <div id="banner">
                    <img src="../images/HOMEPAGE/banner-homepage.jpg" alt="Banner">
                </div>
                    <div class="container">
                            <div class="head">
                                <div class="logo">
                                    <img src="../images/logo.png" alt="TVM">
                                </div>
                                <nav>
                                    <ul>
                                        <li><a href="">why choose us</a></li>
                                        <li><a href="">industries</a></li>
                                        <li><a href="">works</a></li>
                                        <li><a href="">out team</a></li>
                                        <li><a href="">contact</a></li>
                                    </ul>
                                </nav>
                                <div class="lang">
                                    <a href="">ENG/VN</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </header>
     
        <section id="aboutUs">
            <div class="fixwidth">
                    <div class="itemAvata">
                        <a><img src="../images/TEAM/Team-4.png" alt=""></a>
                        <p>TVM Blockchain is accelerating the development of decntralised applications. We build and grow blockchain companies by leveraging our network, expertise and access to capital.</p>
                    </div>
                    <div class="itemAvata">
                        <a><img src="../images/TEAM/Team-5.png" alt=""></a>
                        <p>We join venture with leading companies and domain experts to incubate innovative applications. These applications transform business models and disrupt industries, using blockchain technology.</p>
                     </div>
                     <div class="itemAvata itemfix">
                        <a><img src="../images/TEAM/Team-7.png" alt=""></a>
                    <p>We leverage our deep experience in blockchains and Ethereum smart contracts to architect platforms and applications that creates new digital business models.</p>
                    </div>
            </div>
        </section>
        <section id="portfolio" class="clearfix">
            <div class="fixwidth">
    <div class="itemx"><img src="../images/TEAM/Team-9.png" alt=""></div>
    <div class="itemx"><img src="../images/TEAM/Team-10.png" alt=""></div>
    <div class="itemx"><img src="../images/TEAM/Team-11.png" alt=""></div>
        </section>
        <section>
            <section id="product">
                <div class="introduce">
                    <div>
                        <h2>LEADER TEAM</h2>
                        <p>Our team is made up of product, business and technology experts, <br>
                            who are passionate about the future of blockchain technology.</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="item-thumbnail">
                                <div class="img">
                                    <img src="../images/TEAM/Team-12.png" alt="">
                                <div class="content">
                                    <h4>Alan Burt</h4>
                                    <p>Co-Founder and Chairperson</p>
                                    <div class="center">
                                    <ul>
                                    <div class="myButton1"><a href=""></a></div>
                                    <div class="myButton2"> <a href=""></a></div>    
                                    </ul>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item-thumbnail">
                                <div class="img">
                                    <img src="../images/TEAM/Team-12.png" alt="">
                                <div class="content">
                                    <h4>Alan Burt</h4>
                                    <p>Co-Founder and Chairperson</p>
                                    <div class="center">
                                        <ul>
                                    <div class="myButton1"><a href=""></a></div>
                                    <div class="myButton2"> <a href=""></a></div>    
                                    </ul>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item-thumbnail">
                                <div class="img">
                                    <img src="../images/TEAM/Team-12.png" alt="">
                                    
                                <div class="content">
                                    <h4>Alan Burt</h4>
                                    <p>Co-Founder and Chairperson</p>
                                    <div class="center">
                                        <ul>
                                    <div class="myButton1"><a href=""></a></div>
                                    <div class="myButton2"> <a href=""></a></div>    
                                    </ul>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item-thumbnail">
                                <div class="img">
                                    <img src="../images/TEAM/Team-12.png" alt="">
                                <div class="content">
                                    <h4>Alan Burt</h4>
                                    <p>Co-Founder and Chairperson</p>
                                    <div class="center">
                                    <ul>
                                        <div class="myButton1"><a href=""></a></div>
                                        <div class="myButton2"> <a href=""></a></div>    
                                    </ul>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item-thumbnail">
                                <div class="img">
                                    <img src="../images/TEAM/Team-12.png" alt="">
                                <div class="content">
                                    <h4>Alan Burt</h4>
                                    <p>Co-Founder and Chairperson</p>
                                    <div class="center">
                                        <ul>
                                    <div class="myButton1"><a href=""></a></div>
                                    <div class="myButton2"> <a href=""></a></div>    
                                    </ul>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col">
                            <div class="item-thumbnail">
                                <div class="img">
                                    <img src="../images/TEAM/Team-12.png" alt="">
                                    
                                <div class="content">
                                    <h4>Alan Burt</h4>
                                    <p>Co-Founder and Chairperson</p>
                                    <div class="center">
                                        <ul>
                                    <div class="myButton1"><a href=""></a></div>
                                    <div class="myButton2"> <a href=""></a></div>    
                                    </ul>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item-thumbnail">
                                <div class="img">
                                    <img src="../images/TEAM/Team-12.png" alt="">
                                <div class="content">
                                    <h4>Alan Burt</h4>
                                    <p>Co-Founder and Chairperson</p>
                                    <div class="center">
                                        <ul>
                                    <div class="myButton1"><a href=""></a></div>
                                    <div class="myButton2"> <a href=""></a></div>    
                                    </ul>
                                        </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item-thumbnail">
                                <div class="img">
                                    <img src="../images/TEAM/Team-12.png" alt="">
                                <div class="content">
                                    <h4>Alan Burt</h4>
                                    <p>Co-Founder and Chairperson</p>
                                    <div class="center">
                                        <ul>
                                    <div class="myButton1"><a href=""></a></div>
                                    <div class="myButton2"> <a href=""></a></div>    
                                    </ul>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               </section>
               <img src="../images/TEAM/Team-2.png" alt="">
        </section>
        <footer>
        <div class="container">
            <div class="row-footer">
                <div class="logo">
                    <img src="../images/logo.png" alt="TVM">
                </div>
                <nav>
                    <ul>
                        <li><a href="">why choose us</a></li>
                        <li><a href="">industries</a></li>
                        <li><a href="">works</a></li>
                        <li><a href="">out team</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </nav>
                <div class="social">
                  <a href="tel: 012345XXXXX" title="012345XXXXX">
                        012345XXXXX 
                   <img src="../images/inst.jpg" alt="inst">
                 <img src="../images/twi.jpg" alt="twi">
                  </a>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>